
* {
    box-sizing: border-box;
    /* font-size: 0; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
  }
  
h1{
    font-family: 'Roboto Slab', serif;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(251, 219, 111);
    font-size: 50px;
}


body{
    background-color: #1BB5F2;
    min-width: 320px;
}
h1>a{
    text-decoration: none;
    color:rgb(251, 219, 111)
}

.logo{
    height: 150px;
    width: 200px;
}

.logoText{
    display: none;
}
.logoText>a{
    text-decoration: none;
}

@media only screen and (max-width: 768px) and (max-height: 600px) {
    .logo{
        display: none;
    }
    .logoText{
        display: block;
    }
}
@media only screen and (max-width: 1280px) and (max-height: 600px) {
    .logo{
        display: none;
    }
    .logoText{
        display: block;
    }
}
@media only screen and (min-width: 1280px) and (min-height: 800px) {
    .navBarContainer{
        margin-bottom: 40px;
    }
    .logo{
        display: show;
    }
    .logoText{
        display: none;
    }
    
}