.ListCardContainer{
    width: 45%;
    min-width: 320px;
    min-height: 100px;
    border: 1px solid black;
    display:inline-block;
    margin: 10px 0px;
    padding: 15px 20px;
    
}

h5{
    font-size: 30px;
    font-weight: 400;
    margin: 5px 0;
    width: 100%;
    text-align: center;

}
.decks{
    width: 40%;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px;
}
.decks:hover{
    cursor: pointer;
}
.selected{
    background-color: rgb(49, 49, 49);
    color: white;

}
.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.active{
    background-color:green;
}
.notActive{
    background-color:red;
}

.ListCardContainer>h2{
    text-align: center;
}
.ListCardContainer>p{
    padding-left: 10px;
}
.author{
    font-size: 19px;
    text-align: right;
    margin-right: 15px;
}