.ListCardContainer{
    width: 45%;
    min-width: 320px;
    min-height: 100px;
    display:inline-block;
    margin: 10px 0px;
    padding: 15px 20px;
    border-radius: 25px;
    background-color: rgb(217, 223, 210)
}
.ListCardContainer:active{
    transform: translateY(4px);
}
.ListCardContainer:hover{
    cursor: pointer;
}
h5{
    font-size: 30px;
    font-weight: 400;
    margin: 5px 0;
    width: 100%;
    text-align: center;

}
.decks{
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 2px;
    
}
.deckspan{
    width: 92%;
    text-align: center;
    margin: 20px;
}

.decks:hover{
    cursor: pointer;
}

.selected:after{
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 50%;
        padding-top: 10px;
        border-bottom: 3px solid black;
}


.row{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.cardGreen {
    border: 8px solid green;
    background-color: rgba(87, 255, 87, 0.397);
}

.cardRed {
    border: 8px solid red;
    background-color: rgba(255, 87, 87, 0.397)
}

.ListCardContainer>h2{
    text-align: center;
}
.ListCardContainer>p{
    padding-left: 10px;
}
.author{
    font-size: 19px;
    text-align: right;
    margin-right: 15px;
}

@media only screen and (max-width: 768px)  {
    .decks{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        
        font-size: 20px;
        letter-spacing: 1px;
    }
}