.cardContainer{
    border: 3px solid white;

    display: block;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border-radius: 30px;
    
}
.grabbable {
  cursor: grab ;
  }

.card{
  text-align: center;
  color: black;
}

.card>h2 {
  padding: 25px 0;
}
.card>p {
  float: left;
  padding-left: 10px;
}
.cardContainer>.beer{
  transform: scaleX(-1);
  position: absolute;
  left: 30px;
  top: 10px;
  height: 46px;
}
.cardContainer>.beer1{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 46px;
}