.cardContainer{
    border: 2px solid linear-gradient(90deg, #eff37b 0%, #a16100 100%);
    display: block;
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    border-radius: 30px;
    border: 4px solid white;
    background-image: linear-gradient(8deg, rgba(251, 172, 126, 0.753) 0%, rgba(247, 207, 104, 0.959) 100%);
    
    
}
.grabbable {
  cursor: grab ;
  }

.card{
  text-align: center;
  color: black;

}

.card>h2 {
  
  padding: 25px 0;
}
.card>p {
  float: left;
  padding-left: 10px;
}
.cardContainer>.beer{
  transform: scaleX(-1);
  position: absolute;
  left: 30px;
  top: 10px;
  height: 46px;
}
.cardContainer>.beer1{
  position: absolute;
  right: 10px;
  top: 10px;
  height: 46px;
}