.homeButtons>a{
    text-decoration: none;
    color: black;
    display: block;
    width: 175px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
}
.homeButtons>a:hover {
    opacity: .7;
    background-color: grey;
    color:white;
}
