.homeButtons>a{
    text-decoration: none;
    display: block;
    width: 175px;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #000000;
    font-size: 25px;
    color: black;
  

  font-weight: bold;
  text-align: center;
}
.homeButtons>a:hover{
    background-color: rgba(248, 248, 255, 0.63);
    transition: .4s;
}

.homeButtons>a:active{
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
    transform: translateY(4px);
    transition: .0s;
}

.descriptionContainer{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}
#desc{
    font-size: 20px;
    letter-spacing: .4px;
    margin-bottom: 20px;
}

.descriptionContainer .description:before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-size: 15px;
    background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678063-beer-512.png");
    background-repeat: no-repeat;
    margin-right: 5px;
}
