.homeButtons>a{
    text-decoration: none;
    color: #4c4450;
    display: block;
    width: 175px;
    margin: 30px auto;
    text-align: center;
    border: 1px solid #4c4450;
    font-size: 25px;
}
.homeButtons>a:hover {
    transition: .5s;
    background-color: #2d2830;
    color:rgb(251, 219, 111);
}
.description{
    text-align: center;
}