.playerNameForm>input{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
}



/* select all the buttons on just the start screen */
.playerNameForm>button, .playerNameForm>a>button{
    font-size: 18px;
    margin-right: 3px;
    margin-left: 3px;
}


.playersInputForm{
    
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    border: 1px solid black;
    position:relative;
    font-size: 25px;
    max-width: 600px;
}
#container{
    border: 1px solid black;
    
}

@media only screen and (max-width: 768px)  {
    .playerNameForm>input{
        
        font-size: 16px;
        padding: 5px;
    
    }
}
